{
  "Entries": [
    {
      "RequestUri": "/subscriptions?api-version=2019-11-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-tenant-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/afe8f803-7190-48e3-b41a-bc454e8aad1a\",\r\n      \"authorizationSource\": \"RoleBased\",\r\n      \"managedByTenants\": [],\r\n      \"tags\": {\r\n        \"tagKey1\": \"tagValue1\",\r\n        \"tagKey2\": \"tagValue2\"\r\n      },\r\n      \"subscriptionId\": \"afe8f803-7190-48e3-b41a-bc454e8aad1a\",\r\n      \"tenantId\": \"fdf584f5-e031-4669-88e3-118b47b5eba0\",\r\n      \"displayName\": \"Visual Studio Enterprise Subscription\",\r\n      \"state\": \"Enabled\",\r\n      \"subscriptionPolicies\": {\r\n        \"locationPlacementId\": \"Public_2014-09-01\",\r\n        \"quotaId\": \"MSDN_2014-09-01\",\r\n        \"spendingLimit\": \"On\"\r\n      }\r\n    }\r\n  ],\r\n  \"count\": {\r\n    \"type\": \"Total\",\r\n    \"value\": 1\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "afe8f803-7190-48e3-b41a-bc454e8aad1a"
  }
}