{
  "Entries": [
    {
      "RequestUri": "/subscriptions/afe8f803-7190-48e3-b41a-bc454e8aad1a/resourcegroups/csmrg688?api-version=2019-10-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"centralus\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/afe8f803-7190-48e3-b41a-bc454e8aad1a/resourceGroups/csmrg688\",\r\n  \"name\": \"csmrg688\",\r\n  \"type\": \"Microsoft.Resources/resourceGroups\",\r\n  \"location\": \"centralus\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/afe8f803-7190-48e3-b41a-bc454e8aad1a/resourcegroups/csmrg688/providers/Sendgrid.Email//accounts/csmr3538?api-version=2015-01-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"plan\": {\r\n    \"name\": \"free\",\r\n    \"publisher\": \"Sendgrid\",\r\n    \"product\": \"sendgrid_azure\",\r\n    \"promotionCode\": \"\"\r\n  },\r\n  \"properties\": {\r\n    \"password\": \"p@ss6518\",\r\n    \"acceptMarketingEmails\": false,\r\n    \"email\": \"tiano@email.com\"\r\n  },\r\n  \"location\": \"centralus\",\r\n  \"tags\": {\r\n    \"provision_source\": \"RMS\"\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"plan\": {\r\n    \"name\": \"free\",\r\n    \"publisher\": \"Sendgrid\",\r\n    \"product\": \"sendgrid_azure\",\r\n    \"promotionCode\": \"\"\r\n  },\r\n  \"properties\": {\r\n    \"email\": \"tiano@email.com\",\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"status\": \"Running\",\r\n    \"username\": \"azure_ebe93dfda11f0c35674218da67f13eee@azure.com\",\r\n    \"smtpServer\": \"smtp.sendgrid.net\",\r\n    \"planLabel\": \"Free\"\r\n  },\r\n  \"location\": \"centralus\",\r\n  \"tags\": {\r\n    \"provision_source\": \"RMS\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/afe8f803-7190-48e3-b41a-bc454e8aad1a/resourcegroups/csmrg688/providers/Sendgrid.Email//accounts/csmr3538?api-version=2015-01-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ],
        "Content-Type": [
          "application/json"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/afe8f803-7190-48e3-b41a-bc454e8aad1a/resourceGroups/csmrg688/providers/Sendgrid.Email/accounts/csmr3538\",\r\n  \"name\": \"csmr3538\",\r\n  \"type\": \"Sendgrid.Email/accounts\",\r\n  \"location\": \"centralus\",\r\n  \"subscriptionId\": \"afe8f803-7190-48e3-b41a-bc454e8aad1a\",\r\n  \"resourceGroup\": \"csmrg688\",\r\n  \"plan\": {\r\n    \"name\": \"free\",\r\n    \"publisher\": \"Sendgrid\",\r\n    \"product\": \"sendgrid_azure\",\r\n    \"promotionCode\": \"\"\r\n  },\r\n  \"tags\": {\r\n    \"provision_source\": \"RMS\"\r\n  },\r\n  \"properties\": {\r\n    \"status\": \"Running\",\r\n    \"username\": \"azure_ebe93dfda11f0c35674218da67f13eee@azure.com\",\r\n    \"smtpServer\": \"smtp.sendgrid.net\",\r\n    \"email\": \"tiano@email.com\",\r\n    \"planLabel\": \"Free\",\r\n    \"isFromPortalV1\": false,\r\n    \"firstName\": \"Sender\",\r\n    \"lastName\": \"Whiz\",\r\n    \"company\": \"Company\",\r\n    \"website\": \"http://Website\"\r\n  }\r\n}",
      "StatusCode": 200
    }
  ],
  "Names": {
    "CreateResourceWithPlan": [
      "csmrg688",
      "csmr3538",
      "p@ss6518"
    ]
  },
  "Variables": {
    "SubscriptionId": "afe8f803-7190-48e3-b41a-bc454e8aad1a"
  }
}